<h2 class="titulo">My heroes</h2>

<div class="container">
    <div class="row">
        <div *ngFor="let h of h" 
        class="contenedor col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{h.alterego}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Id: {{h.id}}</h6>
              <a [class.selected]="hero === selectedHero" routerLink="/detail/{{h.id}}" class="card-link">Hero Details</a>
            </div>
        </div>
        </div>
    </div>
</div>




